@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body{
	background-color: LightBlue;
	/* background-image: url("Bilder/wd.jpeg"); */
}

	/* Headder */

    li, a, button{
        color: #edf0f1;
        text-decoration: none;
    }
    
    .bild {
        width: 180px;
        
    }
    
    headder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #bdc3c7;
    }
    
    .nav_links {
        list-style: none;
    }
    
    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    /* .nav_links li a {
        transition: all 0.3s ease 0s;
    } */
    
    .nav_links li a:hover {
        color: #0088a9;
    }
    
    button {
        padding: 9px;
        background-color: rgba(0, 136, 169, 0.8);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 11px;
        /* transition: all 0.3s ease 0s; */
    
    }
    
    button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    nav li {
        position: relative;
    }
    
    nav a:hover {
        color: #0088a9;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: #ecf0f1;
      
        position: absolute;
        top: 0;
        width: 0%;
      
        transition: all ease-in-out 250ms;
      }
      
      
          /* Body */

#news{
    padding: 5%;
    padding-bottom: 0.5%;
    background-color: rgba(0, 0, 0, 0.7);
    color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.überschrift{
    text-decoration: underline;
}

.text{
    padding: 2%;
    font-size: 1.25em;
}

#stand{
    position: relative;
    text-align: center;
    font-weight: lighter;
}

		/* Footer */

p#copyright{
	position: relative;
	overflow: hidden;
	/* padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%; */
	padding: 2%;
	color: white;
	text-align: center;
	bottom: 0%;
	background-color: #333;
	font-size: 1em;
}
